:root {
  --bg-color: #faedb5;
  --link-color: #f28241;
  --link-hover-color: #d9bad5;
  --color-4: #f5a040;
  --color-5: #bbbf99;

  --primary-font: "KansasNew", serif;
  --secondary-font: "Agenda", sans-serif;
  --main-text-color: #404040;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

body {
  background-color: var(--bg-color);
}
/* HEADER STYLE HERE*/
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
